<div class="row d-flex justify-content-center align-items-center w-100 mt-5 mx-0">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <section class="card flex-fill border-warning">
            <summary class="card-header bg-dark">
                <h2 class="text-center">Create a Celebrity</h2>
            </summary>
            <article class="card-body bg-secondary border-bottom border-top border-warning">
                <div class="d-flex flex-row flex-fill flex-wrap justify-content-around align-items-center">
                    {{#each fame}}
                    <div class="card d-flex flex-column align-items-center p-2 bg-dark border border-warning">
                        <h3 class="text-center">{{name}}</h3>
                        <img class="fighter mx-1" src="https://celebritybucks.com/images/celebs/full/{{id}}.jpg"
                            onerror="this.src='https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png'" />
                        <h3 class="text-center">Pwr: {{power}}</h3>
                        <button class="create-btn btn btn-danger" data-id="{{id}}" data-name="{{name}}">Create</button>
                    </div>
                    {{/each}}                            
                </div>
            </article>
        </section>
    </div>
</div>
<script src='js/create.js'></script>